.quote {
  padding: 20px;
  color: white;
  font-size: 24px;
  width: auto;
  margin-top: 50px;
  &__author {
    text-align: right;
    font-style: italic;
    margin-top: 20px;
  }
  .is-ready & {
    background-color: rgba(black, 0.3);
  }
}